openapi: 3.1.0

info:
  version: v0.1.0
  title: Excursions API
  description: |
    A lightweight group travel planning app. Good luck implementing this. You're gonna need it.
    
  license:
    name: GNU Affero General Public License v3.0 (or later)
    identifier: AGPL-3.0-or-later

servers:
  - url: 'https://excursions-api-server.azurewebsites.net'

components:
  securitySchemes:
    BearerToken:
      $ref: './components/securitySchemes/BearerToken.yaml'

tags:
  - name: User Management
    description: Create, fetch, update and delete users.
  - name: User Authentication
    description: Manage the authentication status of a user.
  - name: Park Details
    description: Retrieve detailed data about national parks from the NPS API.
  - name: Multimedia
    description: Access media data about national parks from the NPS API.

x-tagGroups:
  - name: Users
    tags:
      - User Management
      - User Authentication

  - name: National Park Service
    tags:
      - Park Details
      - Multimedia

  - name: Excursions
    tags:
      - NOT AVAILABLE Excursions
      - NOT AVAILABLE Trips

  - name: Social
    tags:
      - NOT AVAILABLE Friends
      # - NOT AVAILABLE Sharing Excursions

paths:
  # --- Users --- #
  "/user":
    $ref: './paths/user.yaml'
  "/user/:id":
    $ref: './paths/user_{userId}.yaml'
  "/user/sign-in":
    $ref: './paths/user_sign-in.yaml'
  "/user/sign-out":
    $ref: './paths/user_sign-out.yaml'
  # --- National Park Service API --- #
  "/national-parks":
    $ref: './paths/national-parks.yaml'
  "/national-parks/summary":
    $ref: './paths/national-parks_summary.yaml'
  "/campgrounds":
    $ref: './paths/campgrounds.yaml'
  "/things-to-do":
    $ref: './paths/things-to-do.yaml'
  "/multimedia/audio":
    $ref: './paths/multimedia_audio.yaml'
  "/multimedia/galleries":
    $ref: './paths/multimedia_galleries.yaml'
  "/multimedia/galleries/assets":
    $ref: './paths/multimedia_galleries_assets.yaml'
  "/multimedia/videos":
    $ref: './paths/multimedia_videos.yaml'
  # --- Excursions --- #
  "/excursion":
    $ref: './paths/excursion.yaml'
  "/excursion/{excursionId}":
    $ref: './paths/excursion_{excursionId}.yaml'
  "/excursion/{excursionId}/trip":
    $ref: './paths/excursion_{excursionId}_trip.yaml'
  "/excursions/{excursionId}/trip/{tripId}":
    $ref: './paths/excursion_{excursionId}_trip_{tripId}.yaml'
  # --- Social --- #
  "/friend":
    $ref: './paths/friend.yaml'
  "/friend/{friendId}":
    $ref: './paths/friend_{friendId}.yaml'
  "/friend-request":
    $ref: './paths/friend-request.yaml'
  "/friend-request/{friendId}":
    $ref: './paths/friend-request_{friendId}.yaml'
  # --- Shared Excursions --- #
  # "/excursions/{excursionId}/share":
  #   $ref: './paths/excursion_{excursionId}_share.yaml'