# Endpoints requiring development:
# 1. Get Users
# 2. Get National Park Codes (Park & State Codes)
# 3. Create/GetByUser/GetById/Update/Delete Excursion
#   3.1 Host should contain a user object not an array.
#   3.2 Trips should contain an array of objects, not ids
#   3.3 Participants should contain an array of objects, not ids
# 4. Trips should contain an array of objects (parks, campgrounds, thingstodo), not ids --> consider, do not implement as of yet
# 5. Get/Delete Friends
# 6. Create/Get/Handle/Delete Friend Requests
# 7. Create/Get/Delete/Handle Excursion Invites

openapi: 3.1.0

info:
  version: v1.5.0
  title: Excursions API
  description: |
    A lightweight group travel planning app. Last updated April 6th, 16:40 2025.
    
  license:
    name: GNU Affero General Public License v3.0 (or later)
    identifier: AGPL-3.0-or-later

servers:
  - url: 'https://excursions-api-server.azurewebsites.net'

components:
  securitySchemes:
    BearerToken:
      $ref: './components/securitySchemes/BearerToken.yaml'

tags:
  - name: User Management
    description: Create, fetch, update and delete users.
  - name: User Authentication
    description: Manage the authentication status of a user.
  - name: Park Details
    description: Retrieve detailed data about national parks from the NPS API.
  - name: Multimedia
    description: Access media data about national parks from the NPS API.
  - name: Excursions
    description: Create a collection of trips that you can share with friends.
  - name: Trips
    description: Plan a trip to a national park. Pick a campground, things to do, and dates.
  - name: Friends
    description: Add other users to share excursions.
  - name: Friend Requests
    description: The medium used to add users to friends lists.
  - name: Sharing Excursions
    description: Share your excursions with friends.

x-tagGroups:
  - name: Users
    tags:
      - User Management
      - User Authentication

  - name: National Park Service
    tags:
      - Park Details
      - Multimedia

  - name: Excursions
    tags:
      - Excursions
      - Trips

  - name: Social
    tags:
      - Friends
      - Friend Requests
      - Sharing Excursions

paths:
  # --- Users --- #
  "/user":
    $ref: './paths/user.yaml'
  "/users":
    $ref: './paths/users.yaml'
  "/user/:id":
    $ref: './paths/user_{userId}.yaml'
  "/user/sign-in":
    $ref: './paths/user_sign-in.yaml'
  "/user/sign-out":
    $ref: './paths/user_sign-out.yaml'
  # --- National Parks --- #
  "/national-parks":
    $ref: './paths/national-parks.yaml'
  "/national-parks/summary":
    $ref: './paths/national-parks_summary.yaml'
  "/national-parks/codes":
    $ref: './paths/national-parks_codes.yaml'
  # --- Campgrounds --- #
  "/campgrounds":
    $ref: './paths/campgrounds.yaml'
  # --- Things-To-Do --- #
  "/things-to-do":
    $ref: './paths/things-to-do.yaml'
  # --- Multimedia --- #
  "/multimedia/audio":
    $ref: './paths/multimedia_audio.yaml'
  "/multimedia/galleries":
    $ref: './paths/multimedia_galleries.yaml'
  "/multimedia/galleries/assets":
    $ref: './paths/multimedia_galleries_assets.yaml'
  "/multimedia/videos":
    $ref: './paths/multimedia_videos.yaml'
  # --- Excursions --- #
  "/excursion":
    $ref: './paths/excursion.yaml'
  "/excursions":
    $ref: './paths/excursions.yaml'
  "/excursion/{excursionId}":
    $ref: './paths/excursion_{excursionId}.yaml'
  # --- Trips --- #
  "/trip":
    $ref: './paths/trip.yaml'
  "/trips":
    $ref: './paths/trips.yaml'
  "/trip/{tripId}":
    $ref: './paths/trip_{tripId}.yaml'
  # --- Friends --- #
  "/friends":
    $ref: './paths/friends.yaml'
  "/friends/{friendId}":
    $ref: './paths/friends_{friendId}.yaml'
  "/friends/requests":
    $ref: './paths/friends_requests.yaml'
  "/friends/requests/{requestId}":
    $ref: './paths/friends_requests_{requestId}.yaml'
  # --- Sharing Excursions --- #
  "/share/excursion/{excursionId}":
    $ref: './paths/share_excursion_{excursionId}.yaml'
  "/share/excursions":
    $ref: './paths/share_excursions.yaml'
  "/share/excursions/{inviteId}":
    $ref: './paths/share_excursions_{inviteId}.yaml'
  "/remove/excursions/{excursionId}":
    $ref: './paths/remove_excursions_{excursionId}.yaml'
  "/leave/excursions/{excursionId}":
    $ref: './paths/leave_excursions_{excursionId}.yaml'

